div.UI {
  width: 100%;
  border: none;
  box-sizing: border-box;
  margin: 10px;
}
div.UI h2 {
  margin: 10px 2px 0 6px;
  padding: 0;
  width: 96%;
  float: left;
}
div.UI button {
  width: 150px;
  height: 150px;
  background-color: #655bfa;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.25s ease-in-out, background-color 0.25s ease-in-out;
  margin: 10px;
  float: left;
  color: white;
  cursor: pointer;
  border: none;
}
div.UI button:hover {
  background-color: #1100ff;
  transform: scale(1.13);
  font-weight: bold;
}
@media (max-width: 500px) {
  div.UI button {
    width: 130px;
    height: 130px;
  }
}
