div.landing {
  background-color: white;

  height: 100vh;
}
h1.landing {
  margin: 0;
  padding-top: 200px;
  font-size: 50px;
}

div.welcoming,
div.auth {
  text-align: center;
  width: 50%;
  height: 90vh;
}
div.auth {
  /* background-image: url("/src/assets/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; */
  float: right;
}

div.welcoming {
  background-color: rgba(0, 0, 255, 0.274);
  top: 0;
  height: 100vh;
  position: fixed;
  z-index: 0;
  float: left;
}

section.view1,
section.view2 {
  height: auto;
  position: relative;
  margin: 70px 10px;
}
section.view1 {
  margin: 150px 20px;
  background-color: rgba(0, 0, 255, 0.274);
  background-color: transparent;
  border: black 2px solid;
  font-size: 40px;
  left: 60px;
  z-index: -1;
}
section.view2 {
  z-index: -3;
  border: green 1px solid;
  background-color: blue;
  color: aliceblue;
  height: auto;
  margin-top: 100px;
}
