div.subHeader {
  width: 100%;
  /* border: red 1px solid; */
  background-color: #4a91e24f;
  height: auto;
  position: relative;
  display: flex;
  flex-direction: column; /* Ensures nav stays inside */
  margin: -38px 0 10px 0;
}

@media (max-width: 800px) {
  div.subHeader {
    background-color: transparent;
  }
}
